*{
    font-family: "Noto Sans CJK TC", "Microsoft JhengHei", PingFang, STHeiti, sans-serif, serif;
}


.app{
    border-bottom: 1px solid black;

}




.title{
    font-size: 40px;
    text-align: center;
    border-bottom: 3px solid rgba(181, 180, 180, 0.725);
    margin: 10px 0 0 0;
    padding-bottom: 10px;

}
.container{
    display: flex;
    flex-direction: column;
    background-color: rgb(202, 198, 198);
    width: 35vw;
    border-radius: 10px;
    min-width: 400px;
    box-shadow: 10px 10px 30px rgb(202, 198, 198);
}

.font{
    font-size: 20px;margin: 10px;
    color: rgb(102, 59, 0);
    font-weight: bold;
}
.input{
    margin: 10px;
    padding: 5px;
    height:20px;
    border-radius: 10px;
    border: 3px rgb(102, 59, 0) solid;
}

.input:hover{
    border: 3px blue solid;
}
.input:focus{
    border: 3px rgb(75, 196, 10) solid;
}
.button{
    background-color: rgb(31, 182, 131);
    color: aliceblue;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;

}
.button:hover{
    background-color: rgb(17, 167, 117);
}
.button:active{
    background-color: rgb(13, 110, 78);
}

.mother{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.list{
    border-bottom: 3px solid rgba(181, 180, 180, 0.725);
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
}


.textarea{
    height: 70px;
    resize: none;
}